html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

/* ============================================================= */

@property --radius {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
