{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
